pre-commit==3.3.3
yfinance==0.2.27
yahooquery==2.3.0
fastapi==0.108.0
uvicorn==0.25.0
sqlalchemy==2.0.25
alembic==1.13.1
psycopg2-binary==2.9.9
redis==5.0.1
polars==0.20.3
polars-ta==0.1.0
ta==0.10.2
numpy==1.26.3
pandas==2.1.4
pyarrow>=14.0.0
pydantic==2.5.2
python-multipart==0.0.6